<!DOCTYPE html>
<html>
<head>
  <title>SHUKRANI Pairing</title>
</head>
<body>
  <h2>🤖 Scan QR Code to Pair</h2>
  <img src="<%= qrImage %>" alt="QR Code" width="300" />
  <p>Pair Code: <code><%= pairCode %></code></p>
</body>
</html>
