<!DOCTYPE html>
<html>
<head><title>SHUKRANI-MD PANEL</title></head>
<body style="background:black; color:white; text-align:center; padding:30px;">
  <img src="https://files.catbox.moe/42b1sn.png" width="160" />
  <h1>SHUKRANI-MD BOT PANEL</h1>
  <a href="/qr" style="display:block; margin:10px; font-size:20px;">QR CODE</a>
  <a href="/pair" style="display:block; margin:10px; font-size:20px;">PAIR CODE</a>
</body>
</html>
